<div class="input">
    <input type="text" name="title" [(ngModel)]="title">
    <button (click)="checkTitle()">Submit</button>
</div>

<p class="message" [style.color]="isFound ? 'green' : 'red'">
    {{ message }}
</p>
  
<div class="container">


<div class="card-drama">
    <h2>Food blogs</h2>
    <app-content-card *ngFor="let item of contentArray | filterType:'Food blogs'" [content]="item"></app-content-card>
</div>

<div class="card-horror">
    <h2>Travel blogs</h2>
    <app-content-card *ngFor="let item of contentArray | filterType:'Travel blogs'" [content]="item"></app-content-card>
</div>



<div class="card-comedy">
    <h2>Lifestyle blogs</h2>
    <app-content-card *ngFor="let item of contentArray | filterType:'Lifestyle blogs'" [content]="item"></app-content-card>
</div>
<div class="card-none">
    <h2>No Type</h2>
    <app-content-card *ngFor="let item of contentArray | filterType:''" [content]="item"></app-content-card>
</div>

</div>

