.card{
    margin: 90px 0;
   
}

.img{
    max-width: 50%;
    display:block;
    margin: 0 auto;
    cursor:pointer;
}

.heading{
    text-align: center;
    font-size: 2em;
}

.container{
    padding: 20px;
    
}

